.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--dark);
    font-weight: bold;
    padding: 1.5rem 2.5rem 1.5rem 2.5rem;

    p {
        cursor: pointer;
        font-size: 1.5rem;
        transition: all 0.5s;

        &:hover {
            color: var(--medium-medium);
            transform: scale(1.1);
        }
    }

    a {
        transition: all 0.3s;
    }

}


nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;

    .navIcon {
        display: none;
    }

}

.nav {
    display: flex;
    justify-content: space-between;
    gap: 1.1875rem;
    align-items: center;

    li {
        list-style: none;
        transition: all 0.5s;
        cursor: pointer;

        &:hover {
            color: var(--medium-medium);
            transform: scale(1.1);
        }
    }

}


.signup {
    border: 0.25rem solid var(--medium-medium);
    border-radius: 1.25rem;
    padding: 0.5625rem;
    font-size: 1rem;
    color: white;
    transition: all 0.2s;

    &:hover {
        background-color: var(--medium-medium);
        color: var(--dark);
    }
}


.selected {
    color: var(--medium-medium);
}

.shortText {
    display: none;
}

.fullText {
    display: inline-block;
}


@media (max-width:768px) {
    .shortText {
        display: inline-block;
    }

    .fullText {
        display: none;
    }

    nav {
        .navIcon {
            display: flex;
            cursor: pointer;
        }

        .navContainer {
            display: none;

            .navBackground {
                width: 3rem;
                height: 100vh;
                background-color: var(--dark);
                position: absolute;
                margin-right: 2.5rem;
                margin-top: 2rem;
                padding: 0 0 0 3.5rem;
                right: 0;
                transition: width 200ms ease;
            }
        }

        .clicked {
            display: flex;
            // position: absolute;
            // margin-right: 5rem;
            // margin-top: 2rem;
        }
    }

    .nav {
        flex-flow: column nowrap;
        justify-content: center;
        align-items: flex-end;
        box-sizing: border-box;
    }
}

@media (max-width:600px) {
    nav {
        .navContainer {
            .navBackground {
                width: 4.5rem;
            }
        }
    }
}