.home {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    align-content: center;
    margin-top: 1.25rem;
    padding: 0 2.5rem 0 2.5rem;

    img {
        width: 34rem;
        margin-top: 3rem;
        transition: all 0.5s;

        @media (max-width:1180px) and (min-width:768px) {
            width: 23rem;
        }

        &:hover {
            transform: scale(1.1);
        }


    }



}

.newsletterContainer {
    width: 35rem;

    h1 {
        font-size: 4rem;
        margin: 0 0 0.75rem 0;
        padding: 0 0 0 0;

        span {
            color: var(--medium-medium);
            font-size: 4rem;


        }


    }

    p {
        font-size: 1rem;
        margin: 0 0 0.75rem 0;
        padding: 0 0 0 0;
    }

    @media (max-width:1180px) and (min-width:768px) {
        width: 25rem;

        h1 {
            font-size: 2.6rem;

            span {
                font-size: 2.6rem
            }
        }

        p {
            font-size: 1rem
        }
    }
}


.input {
    display: flex;
    flex-direction: column;

    input,
    button {
        height: 2.5rem;
        border: none;
        border-radius: 1.25rem;
        margin-bottom: 0.75rem;
    }

    input {
        width: 15rem;
        padding-left: 1rem;
        padding-right: 1rem;
        font-size: 1.2rem;
        background-color: var(--white);
        color: black;

        &:focus {
            outline: none;
        }
    }


    button {
        width: 7.5rem;
        background-color: var(--medium-medium);
        color: var(--white);
        font-weight: bold;
        transition: all 0.5s;
        cursor: pointer;

        &:hover {
            background-color: var(--white);
            color: var(--medium-medium);
            transform: scale(1.1);
        }
    }

}

@media (max-width:768px) {
    .home {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        align-content: center;
    }

    .input {
        justify-content: center;
        align-items: center;
        align-content: center;
    }
}