/* Declaring colors */

* {
  --dark: #1a1a40;
  --medium: #270082;
  --medium-medium: #7a0bc0;
  --white: #fff;
  color: var(--white);
  background-color: var(--dark);
  /* font-size: 1.171303074670571vw; */
}

/* Removing text decoration from links */

a {
  text-decoration: none;
  color: var(--white);
}

a:visited {
  text-decoration: none;
}

/* ===== Scrollbar CSS ===== */
/* Firefox */
* {
  scrollbar-width: auto;
  scrollbar-color: var(--medium-medium) transparent;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 0.8rem;
}

*::-webkit-scrollbar-track {
  background: var(--dark);
}

*::-webkit-scrollbar-thumb {
  background-color: var(--medium-medium);
  border-radius: 0.5rem;
  border: 0.2rem solid var(--dark);
}


@media (max-width:1180px) {
  * {
    font-size: 1.8vw;
  }
}
 
@media (max-width:768px) {
  * {
      font-size: 2.5vw;
  }
} 